@font-face {
  font-family: gameFont;
  src: url('../fonts/PressStart2P.ttf');
}
*{
  box-sizing: border-box;
}

body{
  background-image: url('../image/background.jpg');
  background-size: cover;
}

.main-container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}


.main-titulo{
  font-family: gameFont;
  font-size: 3em;
  color: #DCFF0E;
  width: 100%;
}

.fin{
  font-family: gameFont;
  font-size: 3em;
  color: #DCFF0E;
  padding-left: 20%;
}

.titulo-final{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  float: center
}

#tablero{
  height: 700px;
	width: 700px;
	background: rgba(232, 115, 6, 0.5);
	border: 10px solid #E87306;
	margin: 0 auto;
	position: relative;
	border-radius: 10px
}

#tablero .row {
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  background-size: cover;
  overflow: hidden;
}

#tablero .row.glow {
  z-index: 99;
	box-shadow: inset 0 0 10px 10px rgba(255,255,255,1);
}

#tablero .row.type-1 {
  background-image: url(../image/1.png);
}

#tablero .row.type-2 {
  background-image: url(../image/2.png);
}

#tablero .row.type-3 {
  background-image: url(../image/3.png);
}

#tablero .row.type-4 {
  background-image: url(../image/4.png);
}

.panel-score{
  width: 25%;
  height: 700px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}


.score, .moves, .time{
  text-align: center;
  height: 23%;
  width: 100%;
  border: 10px solid #E87306;
  border-radius: 5px;
  background: rgba(232, 115, 6, 0.5);
}


.buttons{
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.data-titulo, .data-info{
  font-family: gameFont;
  color: #E8CA06;
}
.titulo-over{
  font-family: gameFont;
  font-size: 3em;
  text-align: center;
  color: #DCFF0E;
}
.btn-reinicio{
  background: #E8CA06;
  border: 6px solid #FFB206;
  border-radius: 5px;
  font-family: gameFont;
  font-size: 1.2em;
  color: #FF4007;
}
.btn-reinicio:hover{
  color: #fff;
  cursor: pointer;
}
.btn-reinicio:active{
  font-size: 1em;
}
.data-info{
  font-size: 1.8em;
}
